* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(246, 168, 227, 0.5) 10%, rgba(235, 64, 70, 0.5) 100%);
}

@media screen and (min-width: 350px) and (min-height: 600px) {
  .card {
    width: 80% !important;
    height: 80% !important;
    perspective: 200px;
  }
  .card .part1 {
    height: calc(20% - 5px);
  }
  .card .part2 {
    height: 80%;
  }
  .speak-line .line {
    font-size: 100px;
  }
  .light-line {
    top: 25%;
  }
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.container .main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.container .mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(70, 70, 70, 0.885);
  animation: openPageStart 2s forwards;
}
.container .light-line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 60px;
  display: flex;
  background-repeat: repeat;
  background-clip: border-box;
  background-image: url("./light_300x60.png");
}

.red-flower {
  height: 100%;
  position: absolute;
  top: 25%;
  transform: rotate(-30deg);
  z-index: 9;
  left: 30%;
}
.red-flower img {
  max-height: 100%;
  max-width: 100%;
}

.cat-pic-1 {
  position: absolute;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  z-index: 99;
  top: 60%;
  left: 0;
  transform-style: preserve-3d;
  perspective: 5px;
  transform: rotateY(180deg);
}
.cat-pic-1 img {
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
  transform: translateZ(5px);
}

.cat-pic-2 {
  position: absolute;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  z-index: 0;
  bottom: -15%;
  left: 0;
}
.cat-pic-2 img {
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-container .card {
  top: 25%;
  position: absolute;
  transform: rotateZ(180deg);
  transform-origin: center;
  z-index: 999;
  width: 70%;
  min-height: 300px;
  max-width: 500px;
  height: 50%;
  transition: all 0.65s ease-in;
  perspective: 800px;
  transform-style: preserve-3d;
}
.card-container .card .part1 {
  border-radius: 5px;
  border-top: 3px solid rgba(5, 111, 90, 0.912);
  border-left: 3px solid rgba(5, 111, 90, 0.912);
  border-right: 3px solid rgba(5, 111, 90, 0.912);
  width: 100%;
  height: calc(55% - 5px);
  background-color: aliceblue;
  transform-origin: 100% 100%;
  transform: rotateX(-179deg);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 10px;
  position: relative;
}
.card-container .card .part1 .package-line {
  position: absolute;
  top: 35%;
  width: 100%;
}
.card-container .card .part1 .package-line img {
  width: 100%;
}
.card-container .card .part1 img {
  width: 35%;
  transform: translateZ(2px);
}
.card-container .card .part1 .start {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}
.card-container .card .part1 .start .open-logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1px;
  transform-style: preserve-3d;
}
.card-container .card .part1 .start .open-logo-container img {
  width: 50%;
  transform: translateZ(-2px);
}
.card-container .card .part1 #me {
  max-width: 200px !important;
  width: 100px;
}
.card-container .card .part2 {
  border-radius: 3px;
  border-bottom: 3px solid rgba(5, 111, 90, 0.912);
  border-left: 3px solid rgba(5, 111, 90, 0.912);
  border-right: 3px solid rgba(5, 111, 90, 0.912);
  width: calc(100% - 10px);
  height: 45%;
  position: relative;
  background-color: rgb(245, 230, 200);
  padding: 5px;
  overflow: auto;
}
.card-container .card .part2::after {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: aliceblue;
}
.card-container .card .part2 .speak-line {
  word-wrap: break-word;
  word-break: break-all;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.card-container .card .part2 .speak-line p {
  font-weight: 600;
  font-size: 12px;
  -webkit-text-decoration: underline 1px solid;
          text-decoration: underline 1px solid;
}
.card-container .card .top-border {
  border-left: 5px solid rgba(203, 145, 19, 0.912);
  border-right: 5px solid rgba(203, 145, 19, 0.912);
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background-color: rgb(37, 183, 188);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-container .card .top-border .line {
  transform: rotate(-40deg);
  width: 5px;
  height: 60px;
  background-color: rgb(226, 214, 43);
}/*# sourceMappingURL=index.css.map */